<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="SeverIp" value="10.177.40.7" />
        <add key="SeverPort" value="81" />
    </appSettings>
</configuration>